  @font-face {
    font-family:"Formula1Regular";
    src : url(img/Formula.ttf)
  }

  @font-face {
    font-family:"Formula1Italic";
    src : url(img/Formula-Italic.ttf)
  }

body
{
  margin:0;
}

#header
{
  display : flex;
  justify-content: left;
  height: 12%;
  background-color:#f31d1d;
  border-bottom :solid blue 5px;
}

#nom
{
  position: relative;
  left:40%;
  font-size :50px;
  font-weight:bold;
  font-family: "Formula1Regular";
}

#logo img
{
  position: relative;
  border-left: 50px;
  width: 85px;
  height : 85px;
  border-radius: 25%;
}

#content
{
  display:flex;
  height: 88%;
  background-color: black;
}

#pilote img
{
  display: flex;
  flex-direction: column;
  border : solid red 10px;
  border-radius : 3%;
  height : 87%;
}

#saison img
{
  display: flex;
  flex-direction: column;
  border : solid green 10px;
  border-radius : 3%;
  height : 87%;
}

#infrastructure img
{
  display: flex;
  flex-direction: row;
  border : solid blue 10px;
  border-radius : 3%;
  height : 50%;
}

#boutique img
{
  display: flex;
  flex-direction: row;
  border : solid yellow 10px;
  border-radius : 3%;
  height : 50%;
}

#nomSaison
{
  position: relative;
  left:35%;
  display: block;
  font-size:40px;
  font-family: "Formula1Italic";
  color:green;
}

#nomPilote
{
  position: relative;
  left:35%;
  display: block;
  font-size:40px;
  font-family: "Formula1Italic";
  color:red;
}

#nomInfrastructure
{
  position: relative;
  left:2%;
  display: block;
  font-size:40px;
  font-family: "Formula1Italic";
  color:blue;
}

#nomBoutique
{
  position: relative;
  left:25%;
  display: block;
  font-size:40px;
  font-family: "Formula1Italic";
  color:yellow;
}

#saison :hover
{
  display:block;
  border: solid green 8px;
  border-radius: 6%;
}

#pilote :hover
{
  display:block;
  border:solid red 8px;
  border-radius: 6%;
}

#infrastructure :hover
{
  display:block;
  border:solid blue 8px;
  border-radius: 6%;
}

#boutique :hover
{
  display:block;
  border:solid yellow 8px;
  border-radius: 6%;
}


#speed
{
  color:red;
  font-family: "Formula1Italic";
  position: relative;
  left : 30%;
}
