


  @font-face {
    font-family:"Formula1Regular";
    src : url(Formula.ttf)
  }



body
{
margin:0;
}

#header
{
  display : flex;
  justify-content:space-around;
  align-items:center;
  height: 12%;
  background-color:#f31d1d;
  border-bottom :solid black 5px;
}

#nom
{
  font-size :50px;
  font-weight:bold;
  font-family: "Formula1Regular";
}

#logo img
{
	width:85px;
	height:85px;
}

#content
{
display:flex;

  height: 87%;
}

#pilote img
{
  border : solid red 15px;
  border-radius : 2%;
  color:white;

}
#saison :hover
{
position :absolute;
left:10%;
}
#pilote :hover
{
position :absolute;
left:30%;
}
#infrastructure :hover
{
position :absolute;
left:50%;
}
#saison img
{

  border : solid green 15px;
  border-radius : 2%;
  width :100%;
  height :100%;

}
#nomSaison
{
  position : absolute;
  font-size:50px;
  font-weight: bold;
  color:green;
  top: 50%;
  left: 9%;

}
#infrastructure img
{

  border : solid blue 15px;
  border-radius : 2%;




}

#boutique img
{
  border : solid yellow 15px;
  border-radius : 2%;
    height : 50%;

}
