  @font-face {
    font-family:"Formula1Regular";
    src : url(img/Formula.ttf)
  }

  @font-face {
    font-family:"Formula1Italic";
    src : url(img/Formula-Italic.ttf)
  }

body
{
  margin:0;
}

#header
{
  display : flex;
  justify-content: left;
  height: 12%;
  background-color:#f31d1d;
  border-bottom :solid blue 5px;
}

#nom
{
  position: relative;
  left:40%;
  font-size :50px;
  font-weight:bold;
  font-family: "Formula1Regular";
}

#logo img
{
  position: relative;
  border-left: 50px;
  width: 80px;
  height : 80px;
  border-radius: 25%;
}

#content
{
  display: flex;
  flex-direction: row;
  height: 88%;
  background-color: black;
}

#pilote1
{
  border : solid red 10px;
  border-radius : 3%;
  width : 50%;
  height : 100%;
  background-color: white;
  background-image: url("img/pilote 1.png");
  background-size: contain;
}

#pilote2
{
  border : solid green 10px;
  border-radius : 3%;
  width : 50%;
  height : 100%;
  background-color: white;
  background-image: url("img/pilote 2.png");
  background-size: contain;
}

#nomPilote1
{
  position: relative;
  left:40%;
  font-size:40px;
  font-family: "Formula1Italic";
  color:red;
}

#nomPilote2
{
  position: relative;
  left:40%;
  font-size:40px;
  font-family: "Formula1Italic";
  color: green;
}

#contenuPilote1
{
  font-size: 20px;
  font-family: "Formula1Italic";
  color: red;
}

#contenuPilote2
{
  font-size: 20px;
  font-family: "Formula1Italic";
  color: green;
}

#pilote1 :hover
{
  display:block;
  border:solid red 8px;
  border-radius: 6%;
}

#pilote2 :hover
{
  display:block;
  border:solid green 8px;
  border-radius: 6%;
}
